/* Write your CSS code here */

.img_a {
  height: 70%;
  width: 70%;
  margin-top: 90px;
}
button {
  background-color: blue;
  color: white;
  padding: 6px;
  margin-left: 10px;
  border: 0px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-top: 14px;
  padding: 7px;
}
.rowing {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  margin-top: 20px;
}
img {
  margin-bottom: 10px;
}
button {
  margin-bottom: 10px;
}
label {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
}
